@import '~@sydle/sydle-ui/styles/scss';
@import 'classes';


.root{
    display: flex;
    width: 100vw;
    height: 100vh;
    padding: 10%;
}
.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}
.classes{
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    padding: 0px;
    border: solid 1px black;
    border-radius: 5px;
}

.exibe{
    background-color: pink;
    width: 20px;
    height: 20px;
}
h1{
    font-size: 20px;
    margin: 10px;
}